# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Environment files
.env
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/
out/

# Coverage
coverage/

# Misc
*.tgz
*.swp
*.bak
*.tmp

seed_appointments.js